[Unit]
Description=rtsp server autostart
DefaultDependencies=no

#This will not start execution of this file until the network connection is made
After=network.target


[Service]
Type=simple
ExecStart=mediamtx /home/mediamtx.yaml


#Optional: Saves the output and error log of the terminal to a .log file in a directory of your choosing.
#StandardOutput=file:/home/mediamtx.log
#StandardError=file:/home/mediamtx-error.log

#Optional: To cleanly end the file on stop use this command. This sends a terminal interrupt command on the executable script
KillSignal=SIGINT

#Automatically restart on kill
Restart=always

[Install]
WantedBy=multi-user.target